<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>
            {% block title %}
            {% endblock %}
        </title>
        <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ url_for('static', filename='vendor/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap-select.min.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ url_for('static', filename='fonts/open_sans.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ url_for('static', filename='css/fff.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ url_for('static', filename='favicon.ico') }}" rel="icon" type="image/x-icon">
        <link href="{{ url_for('static', filename='css/ratings.css') }}" rel="stylesheet" type="text/css">
    </head>

    <body>
      <div class="row">
        <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
              </button>
              <a class="navbar-brand page-scroll" href="{{ url_for('home_page') }}"><img src = "{{ url_for('static', filename='img/FFF.png') }}"></a>
              {% with messages = get_flashed_messages() %}
                {% if messages %}
                  {% for message in messages %}
                   <!--<a id="aap" class="navbar-brand page-scroll">{{ message }}</a>-->
                   <a id="aap">{{ message }}</a>
                  {% endfor %}
                {% endif %}
              {% endwith %}
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="{{ url_for('restaurants_page') }}">All Restaurants</a>
                </li>
                <li>
                  {% if session['logged_in'] != True %}
                    <a class="page-scroll" href="{{ url_for('register') }}">Register</a>
                  {% endif %}
                </li>
                <li>
                {% if session['logged_in'] == True and is_admin(session['username']) == True %}
                   <a class="page-scroll" href="{{ url_for('view_reports') }}">Admin Tasks</a>
                {% endif %}
                </li>
                <li>
                  {% if session['logged_in'] == True %}
                    <a class="page-scroll" href="{{ url_for('logout') }}">Logout</a>
                  {% else %}
                    <a class="page-scroll" href="{{ url_for('login') }}">Login</a>
                  {% endif %}
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>

		<!-- http://jsfiddle.net/Curry/68CUh/ -->
		<!-- hide flashed msgs after 3 seconds -->
		<style>
		a {
		  opacity:1;
		  transition:opacity 0ms;
		}
		a.waa {
		  opacity:0;
		}
		</style>
		<script>
		setTimeout(function(){
		  document.getElementById('aap').className = 'waa';
		}, 3000);
		</script>

      {% block body %}
      {% endblock %}

      <!-- jQuery and Bootstrap js -->
      <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
      <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js') }}"></script>
      <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap-select.min.js') }}"></script>
    </body>
</html>
