{% extends "base.html" %}

{% block title %}
Fine Food Finder - Home
{% endblock %}

{% block body %}
    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <div class="row">
                    <div class="col-xs-4 col-xs-offset-4 home-box">
                        <h1 id="homeHeading">Fine Food Finder</h1>
                        <hr>
                        <p>Find food that is fine for you</p>
                        <br/>
                        <form method="POST">
                            <div class="row">
                            <div class="col-xs-6 col-xs-offset-3">
                                <select class="selectpicker form-control" id="search-criteria" name="search-criteria" title="Search by">
                                    <option value="any">Any</option>
                                    <option value="name">Name</option>
                                    <option value="cuisine">Cuisine</option>
                                    <option value="suburb">Suburb</option>
                                </select>
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-xs-6 col-xs-offset-3">
                                <div class="input-group">
                                  <input type="text" name="search-box" class="form-control" placeholder="Search for...">
                                  <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                                  </span>
                                </div>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
      </div>
    </div>
  </header>
{% endblock %}
