{% extends "base.html" %}

{% block title %}
Find Food Finder - Login
{% endblock %}

{% block body %}
    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <div class="row">
                    <div class="col-xs-4"></div>
                    <div class="col-xs-4 header-box">
                        <div class="row">
                            <h1 id="homeHeading">Login</h1>
                            <hr>

                            {% if status %}
                                <p class="login-message">{{ status }}</p>
                            {% endif %}
                        </div>

                        <div class="row">
                            <form method="POST" action="">
                              <div class="panel-body">
                                <div class="form-group">
                                  Username
                                  <input type="textfield" name="user" class="form-control" placeholder="Username">
                                </div>
                                <div class="form-group">
                                  Password
                                  <input type="password" name="pass" class="form-control" placeholder="Password">
                                </div>
                                <div class="form-group">
                                  <input type="submit" value="Login" class="btn btn-primary">
                                </div>
                              </div>
                            </form>
                        </div>

                        <div class="row">
                            <p class="register-tip" >
                                <a href="{{ url_for('register') }}">Don't have an account?</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-xs-4"></div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}
