{% extends "base.html" %}

{% block title %}
Find Food Finder - {{ restaurant.get_name() }}
{% endblock %}

{% block body %}
<header>
  <div class="restaurants">
    <br>
    <div class="col-xs-9 col-xs-offset-2">
      <div class ="restaurants-listing-box">
        <div class="restaurants-listing">
          <h1>{{ restaurant.get_name() }} - {{ restaurant.get_rating() }} rating <br/> </h1>

          <hr align= "left">
          <a href="{{ url_for('restaurants_page', rest_id = restaurant.get_id()) }}"><img src="{{ restaurant.get_image() }}" alt="Restaurant 1" height ="300" width="440"></a> </br>
            <p>
          <h2>Rate us</h2>
          <fieldset class="rating">
            <input type="radio" id="star5" name="rating" value="5" />
            <label class = "full" for="star5" title="Amazing - 5 stars"></label>
            <input type="radio" id="star4half" name="rating" value="4.5" />
            <label class="half" for="star4half" title="4.5 stars"></label>
            <input type="radio" id="star4" name="rating" value="4" />
            <label class = "full" for="star4" title="Very good - 4 stars"></label>
            <input type="radio" id="star3half" name="rating" value="3.5" />
            <label class="half" for="star3half" title="3.5 stars"></label>
            <input type="radio" id="star3" name="rating" value="3" />
            <label class = "full" for="star3" title="Average - 3 stars"></label>
            <input type="radio" id="star2half" name="rating" value="2.5" />
            <label class="half" for="star2half" title="2.5 stars"></label>
            <input type="radio" id="star2" name="rating" value="2" />
            <label class = "full" for="star2" title="Below average - 2 stars"></label>
            <input type="radio" id="star1half" name="rating" value="1.5" />
            <label class="half" for="star1half" title="1.5 stars"></label>
            <input type="radio" id="star1" name="rating" value="1" />
            <label class = "full" for="star1" title="Not great - 1 star"></label>
            <input type="radio" id="starhalf" name="rating" value="0.5" />
            <label class="half" for="starhalf" title="0.5 stars"></label>
          </fieldset> <br> 
            <h2>Address:</h2>
            {{ restaurant.get_address() }} <br/>
            <h2>Opening Hours:</h2>
            <b></b> {{ restaurant.get_hours() }} <br/>
            <h2>Contact </h2>
            <b>Owner:</b> {{ restaurant.get_owner() }} <br/>
            <b>Phone:</b> {{ restaurant.get_phone() }} <br/>
            <h2>About us:</h2>
            <b><a href="{{ restaurant.get_website() }}">{{ restaurant.get_website() }}</a> <br/>
            <b>cuisine:</b> {{ restaurant.get_cuisine() }} <br/>

          </p>
        </div>
      </div>
    </div>
  </div>
</header>
{% endblock %}
